body {
    background-color: #a2de96
}
hr {
 
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width:5px;

    width: 5%
}

h2{
    color : slateblue;
    text-align: center;
    text-decoration: underline 
    
}